/ascending_beeps.wav
/descending_beeps.wav
/mario_beeps.wav
/mario_theme.wav
/morse_audio.wav
/output.wav
/sos_as_audio.wav
/test_audio
/test_audio_enc
/test_entrys
/test_keys
/text_as_audio.wav
userdata/
__pycache__/
